# Set the default behavior~, in case people don't have core.autocrlf set.~
* text=LF

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.gd text
*.tres text
*.tscn text
*.md text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary